---
import { getCollection } from 'astro:content';
const entries = await getCollection('risale');
---
<html>
<body>
  <h1>Slugs and IDs:</h1>
  <ul>
    {entries.map(e => (
      <li>ID: {e.id} | Slug: {e.slug}</li>
    ))}
  </ul>
</body>
</html>
